.container{
  display: flex;
  justify-content: center;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.home-page{
  width: 100%;
  padding: 10px 40px
}
