.colleciton-modal-frame{
  display: flex;
  height: 100%;
  width: 100%;
}

.collection-modal-left{
  height: 100%;
  width: 100%;
  background-color: #3D3D3D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-modal-right{
  height: 100%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-modal-image{
  width: 95%;
  height: auto;
}

.collection-modal-image-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
}

.collections-container{
  overflow: scroll;
  width: 90%;
  height: 100%;
}

.gallery-item{
  width: 100%;
  display: flex;
  height: 80px;
  border-radius: 10px;
  align-items: center;
}

.gallery-item:hover{
  background: darkgrey;
}

.gallery-cover{
  height: 80px;
  width: 80px;
}

.add-gallery-icon{
  color: darkgrey;
}

.add-gallery-button:hover .add-gallery-icon{
  color: black;
}

.add-gallery-button{
  width: 100px;
  height: 80px;
  margin-left: 50px;
}

.add-gallery-text{
  font-size: 20px;
}
