.popular-photos-list{
  background-color: white;
  /*display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;*/
  min-width: 100%;
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: white;
}


.popular-image-container{
  position: absolute;
  overflow: hidden;
  display: inline-block;
}

.image-wrapper{
  cursor: pointer;
  position: absolute;
}

.popular-image{
  position: absolute;
}


.image-overlay{
  position: absolute;
}

.image-bot-fade{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9*/
}

.image-top-fade{

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9*/
}



.image-wrapper:hover .image-top-fade{
  visibility: visible;
  opacity: 1;
}

.image-wrapper:hover .image-bot-fade{
  visibility: visible;
  opacity: 1;
}

.image-wrapper:hover .author-username{
  visibility: visible;
  transform: translate3d(0px, -5px, 0px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.image-wrapper:hover .author-photo{
  visibility: visible;
  transform: translate3d(0px, -5px, 0px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.image-wrapper:hover .image-views{
  visibility: visible;
  transform: translate3d(0px, 5px, 0px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.image-wrapper:hover .image-rating{
  visibility: visible;
  transform: translate3d(0px, 5px, 0px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.image-wrapper:hover .image-favorite{
  visibility: visible;
  transform: translate3d(0px, -5px, 0px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.image-wrapper:hover .image-collection{
  visibility: visible;
  transform: translate3d(0px, -5px, 0px);
  transition: all 0.2s ease-in-out;
}

.image-wrapper:hover .collection-icon{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.author-photo{
  visibility: hidden;
  position: absolute;
  border-radius: 50%;
}


.author-photo:hover  {
  opacity: 0.7 !important;
}


.author-username{
  visibility: hidden;
  position: absolute;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 5px;
}

.author-username:hover {
  background-color: rgba(100,100,100,0.6);
  border-radius: 5px;
}


.image-views{
    position: absolute;
    font-size: 14px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}

.image-rating{
    position: absolute;
    font-size: 14px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}

.nsfw-holder{
  background-color: #3D3D3D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-favorite{
  position: absolute;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.image-collection{
  position: absolute;
  display: flex;
  visibility: hidden;
}

.collection-icon{
  opacity: 0;
}
