.login-container{
  border-radius: 50%;
  overflow: hidden;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: white;
  cursor: pointer;
}

.current-user-container{
  height: 40px;
  display: flex;
  align-items: center;
}


.current-user-picture{
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  z-index: 1;
}

.current-user-container{
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button{
  position: absolute;
  width: 130px;
  height: 130px;
  font-size: 30px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.login-button:hover {
  background-color: green;
}

.current-user-container:hover .current-user-picture{
  display: none;
}
