.login-container{
  border-radius: 50%;
  overflow: hidden;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: white;
  cursor: pointer;
}



.current-user-picture{
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.current-user-container{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-button{
  position: absolute;
  width: 90px;
  height: 90px;
  font-size: 25px;
  background-color: #00e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.logout-button{
  position: absolute;
  width: 90px;
  height: 90px;
  font-size: 25px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0px;
  left: 0px;
}

.login-button:hover {
  background-color: lightgrey;
}

.current-user-container:hover .current-user-picture{
  display: none;
}
