<!DOCTYPE html>
<html>
<head>

  <link rel="icon" href ="https://s3.amazonaws.com/avatars.500px.net/client_applications/30195.jpg">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>100pops</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
